@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato:wght@100;300;400;700&family=Roboto+Slab:wght@300;400;500&display=swap');

body {
  padding: 0 !important;
  margin: 0 !important;
}

header {
  background: #2a2a2a;
  color: white;
}

header .logo-block {
  display: flex;
  align-content: flex-start;
  padding: 1.25rem;
  position: relative;
}

header .logo-block .headings {
  margin-left: 1.5rem;
  width: 100%;
}

header .logo-block h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin: 0;
}
header .logo-block h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: rgba(255,255,255,0.55);
  margin: 0;
  padding-left: 1rem;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
header .logo-block h3 {
  font-family: Times, serif;
  font-size: 2em;
  font-weight: lighter;
  font-style: italic;
  color: rgb(223, 205, 194);
  margin: 0;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

header img.img-fluid {
  width: 100%;
}

header nav {
  background: #2a2a2a;
  border-top: 2px solid rgba(255,255,255,1);
  border-bottom: 2px solid rgba(255,255,255,1);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 0 .25rem;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  font-family: 'Lato', serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  color: rgb(224, 224, 193);
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}
header nav ul li a:hover {
  border: none;
  color: white;
}

main {
  align-content: flex-start;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  min-height: 100vh;
}
h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  color: black;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #29609e;
  border-bottom: 1px solid #29609e;
}

section {
  background: white;
  padding: 5rem 1rem 4rem;
}

section .section_title {
  width: 60%;
  margin: 0 auto 3rem;
  padding: 0 0 2rem ;
  text-align: center;
  border-bottom: 1px solid #CCC;
  
}

section .section_title svg {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

section#about h1 {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 2.25rem;
  font-style: italic;
  color: #967e6b;
  width: 80%;
  margin: 2rem auto 4rem;
  text-align: center;
  line-height: 1.2;
}

section#about .section_title svg {
  margin-top: -5px;
  margin-right: 1rem;
}

section h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.66rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

section ul {
  margin: 1.5rem 0 3rem;
  padding-left: 3rem;
}

section p, section .social_links,
section ul {
  font-family: 'Montserrat';
  font-size: 1.25rem;
  width: 85%;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto 2rem;
}

section ul.sansBullets {
  list-style: none !important;
  padding: 0;
  text-align: center;
}

section ul.sansBullets li {
  margin: 2rem 0;
}

section li {
  margin: 1rem 0;
}

section ul.fancyList li {
  font-family: "Roboto Slab";
  font-style: italic;
  color:#884f61;
  font-weight: 300;
}

section#contact ul.sansBullets li a {
  border: 0;
}

section#contact ul.sansBullets li a svg {
  margin-right: 10px;
}

.social_links {
  margin-top: 5rem !important;
  display: flex;
  justify-content: space-around;
}

.social_links a {
  text-align: center;
}

.social_links svg {
  display: inline-block;
  margin-bottom: 1rem;
}

code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}

.carousel.floorplans {
  background: rgb(243, 240, 233);
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
  padding: 2rem 3rem;
}

.carousel.floorplans .carousel-inner {
  display: flex;
  align-items: center;
}

.carousel.floorplans .carousel-item {
  mix-blend-mode:multiply;
  display: block;
  visibility: none;
  opacity: 0;
}

.carousel.floorplans .carousel-item.active {
  visibility: visible;
  display: block;
  opacity: 1;
}

.carousel-caption {
  color: black;
  padding-bottom: 0;
  color: rgba(0,0,0,0.5);
  font-weight: 500;
  font-family: 'Lato';
  top: 0.5rem;
  right: auto;
  bottom: auto;
  left: 7%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: black;
  background-size: 66%;
}

.downloadPDFlink {
  background: #FFF;
  text-align: center;
  padding-top: 1.5rem;
}
.downloadPDFlink a {
  font-weight: 600;
  color: #a25715;
}

#subscribeForm {
   background: url(../images/lifestyle/agnivesh-jayadeep-5vzsYXN389Q-unsplash.jpg);
   background-size: cover;
   background-position: center bottom -125px;
   color: white;
}

#subscribeForm .content {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0 6rem;
  display: flex flex-wrap;
  position: relative;
}

#subscribeForm .message {
  color: orange;
}

#subscribeForm label {
  width: 100%;
  font-weight: 500;
}

#subscribeForm input#email {
  width: 100%;
  border: 0;
  border-radius: 7px;
  padding: 1rem;
  background: #DDD;
}

#subscribeForm button {
  border-radius: 8px;
  padding: 10px 40px;
  text-align: center;
  background: #bf3425;
  color: white;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 1px;
  font-family: 'Helvetica';
  margin-top: 1rem;
  right: 0;
  position: absolute;
}

.photoGrid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.photoGrid>div {
  width: 24%;
  margin: 0.5%
}

.photoGridTitle {
  text-align: center;
  padding: 1rem 0;
  font-family: 'Roboto Slab';
  font-size: 1.2rem;
}

.washedStones {
  background-image: url(../images/lifestyle/beach-surf-on-stones.jpg);
  background-size: cover;
  height: 400px;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
}

footer {
  background-image: url(../images/lifestyle/patrick-fore-UFqV-RqPm8w-unsplash.jpg);
  background-position: bottom center;
  background-size: cover;
  height: 500px;
  text-align: center;
  padding: 2rem 0;
}

footer p {
  font-family: "Lato";
  font-weight: 100;
  font-size: 1.5rem;
  color: white;
}

.modalButton {
  font-size: 1.13rem;
  font-weight: 300;
  letter-spacing: 2px;
  
}

.modal-content {
  border-radius: .7rem;
}

.modal-header {
  background: #2A2A2A;
  color: white;
  font-family: 'Montserrat';
}

.modal-title {
  line-height: 1.2;
}

.modal button.close {
  border: 0;
  border-radius: 10px;
  background: white;
  width: 90px;
  height: 30px;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.modal-footer {
  background: #2A2A2A;
  color: white;
}

.featuresModal {
  padding: 1.25rem 0.75rem 1rem 1.25rem;
}

.featuresModal h3 {
  font-family: 'Roboto Slab';
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-indent: -1rem;
  margin-left: 0.75rem;
}

.featuresModal ul {
  padding: 1rem 1rem 2rem 3rem;
}

.featuresModal ul li {
  font-family: 'Lato';
  font-size: 1.05rem;
  color: #4C4C4C;
  line-height: 1.4;
  margin-bottom: 1.25rem;
  padding-right: 1.75rem;
}

.featuresModal .disclaimer {
  font-size: .9rem;
  font-style: italic;
  color: rgba(0,0,0,0.5);
  width: 85%;
  margin-left: 1.5rem;
  line-height: 1.3;
}


@media only screen and (max-width: 700px) {
  
  header .logo-block {padding: 0.75rem;}
  header .logo-block svg {width: 100px; height: 100px;}
  header .logo-block .headings { margin-left: 1rem;}
  header .logo-block h1 {font-size: 2rem; margin-top: -5px;} 
  header .logo-block h2 {font-size: 1rem; padding-left: 0;} 
  header .logo-block h3 {font-size: 1.1rem; right: auto;} 
  header nav ul li a {font-size: 0.8rem; letter-spacing: 1px;}
  
  section {padding: 3rem 0.5rem 2rem}
  section p, section ul {font-size: 1rem; width: 90%;}
  section ul {padding-left: 1.5rem;}
  section .section_title {font-size: 1.2rem;}
  section .section_title svg {width: 20px; height: 20px;}
  section .social_links {width: 100%; font-size: 0.9rem;}
  section .social_links svg {width: 40px; height: 40px;}
  
  section#about h1 { font-size: 1.75rem; }

  footer p {font-size: 1rem;}

  .carousel-caption {display: none;}
  
  .photoGrid>div {
    width: 48%;
    margin: 1%
  }

  .featuresModal { padding: 0.5rem 0 0 0.5rem; }
  .featuresModal ul { padding: 0.5rem 0 1rem 1.5rem;}
  .featuresModal .disclaimer {width: 85%; margin-bottom: 1rem;}
}

@media only screen and (max-width: 480px) {
  .photoGrid>div {
    width: 99%;
    margin: 1%;
  }
}
